/* HomePage.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .welcome-text {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
  }
  
  .logout-button,
  .action-link {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover,
  .action-link:hover {
    background-color: #2980b9;
  }
  